<swiper
  [navigation]="isNavigation"
  class="w-full"
  [ngClass]="{ 'sm:w-full': isWidthFull, 'sm:w-[800px]': !isWidthFull }"
  [config]="swiperConfig"
>
  <ng-template swiperSlide *ngFor="let img of images">
    <div class="relative">
      <span
        *ngIf="isDelete"
        (click)="deleteImage(img)"
        class="absolute top-10 right-10 text-red-700 z-50 cursor-pointer"
        >{{ "ads.deleteAds" | translate }}</span
      >
      <img
        class="w-full h-[300px] md:h-[400px] z-0"
        [src]="isIntegrtion ? img : apiUrl + '/' + img"
      />
    </div>
  </ng-template>
</swiper>
