<div class="bg-gray-23 flex flex-col h-full w-full px-2 mt-20 pb-1 mf:pb-4">
  <div
    class="bg-white flex w-full h-20 md:h-28 mt-1 md:mt-1.5 justify-between rounded-md md:rounded-lg cursor-pointer"
    *ngFor="let item of workersMan"
    [routerLink]="
      '/profile/' +
      item?.contactUser?.name +
      '-' +
      item?.contactUser?.lastName +
      '-' +
      item?.id
    "
  >
    <div class="flex items-center ml-4">
      <img
        class="w-12 md:w-20 h-12 md:h-20 rounded-sm sm:rounded-md"
        [src]="item?.avatar"
      />
      <div
        class="flex flex-col h-full justify-between py-3 md:py-5 black-our ml-6"
      >
        <h1 class="text-lg md:text-2xl">{{ item?.title }}</h1>
        <span class="text-sm md:text-lg text-green-400"
          >{{ item?.price }} СОМОН</span
        >
      </div>
    </div>
    <div
      class="flex flex-col h-full justify-between items-end py-3 md:py-5 mr-4"
    >
      <span
        class="p-1 bg-gray-23 rounded-3xl w-[40px] md:rounded-full flex justify-center md:w-[60px] text-xs md:text-sm"
        >New</span
      >
      <span class="md:text-lg text-sm flex black-our"
        ><span class="md:text-lg text-sm hidden md:block mr-2 black-our">{{
          item?.country
        }}</span>
        {{ item?.city }}</span
      >
    </div>
  </div>
</div>
