<div
  class="w-full h-[80px] bg-white rounded-b-lg drop-shadow-lg flex justify-between items-center z-40 fixed top-0 right-0"
>
  <div class="md:ml-[40px] ml-[30px]">
    <a
      class="cursor-pointer text-lg md:text-2xl black-our font-semibold"
      routerLink="/home"
      >Mardikor-bozor.tj</a
    >
  </div>
  <div class="flex items-center">
    <ul
      class="flex fmt-4 rounded-lg flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
    >
      <li>
        <a
          [routerLink]="isLoginPage ? '/auth/register' : '/auth/login'"
          *ngIf="!isLogged"
        >
          {{ isLoginPage ? "Sing up" : "Sing in" }}
        </a>
      </li>
      <li class="mr-3" (click)="logOut()">
        <a class="sm:mr-6 mr-4 cursor-pointer" *ngIf="isLogged">Log out </a>
      </li>
      <li class="mr-3" *ngIf="isLogged">
        <a class="sm:mr-6 mr-4 cursor-pointer" routerLink="/create-page-cv"
          >Create cv
        </a>
      </li>
    </ul>
  </div>
</div>
