<div class="mt-16 md:mt-10 flex flex-col pb-20">
  <div
    class="w-full h-full pt-3 pb-3 md:h-[260px] flex flex-col justify-center"
    [ngStyle]="{
      background: 'linear-gradient(' + 'gray' + ' , ' + 'green' + ')'
    }"
  >
    <div class="flex ml-6 md:ml-8">
      <div class="flex relative">
        <img
          class="w-24 md:w-32 h-24 md:h-32 rounded-full cursor-pointer"
          [src]="
            workerMan?.user?.image
              ? apiUrl + '/' + workerMan?.user?.image
              : avatar
          "
          (click)="workerMan?.user?.image && modalAvatar.open()"
        />
        <label
          *ngIf="user?._id == workerMan?.user?._id"
          class="w-12 h-12 rounded-full absolute -right-5 md:-right-3 top-8 md:top-10 cursor-pointer z-10"
        >
          <img
            class="w-10 md:w-12 h-10 md:h-12 rounded-full"
            src="assets/icons/icon-download-profile-image.png"
          />
          <input
            (change)="uploadImage($event)"
            type="file"
            accept="image/*"
            class="hidden"
          />
        </label>
      </div>
      <div class="flex flex-col h-full justify-between py-7 md:py-5 ml-6">
        <span class="text-xl md:text-4xl text-white">
          {{ workerMan?.ads?.title }}
        </span>
        <span class="text-base md:text-2xl text-white">{{
          workerMan?.ads?.city
        }}</span>
      </div>
    </div>

    <app-modal #modalAvatar>
      <img
        class="w-full h-full"
        [src]="apiUrl + '/' + workerMan?.user?.image"
      />
    </app-modal>

    <span
      *ngIf="workerMan?.user?.name"
      class="text-base md:text-2xl text-green-400 md:mt-4 ml-8 md:ml-10"
      >{{ workerMan?.user?.name }}</span
    >
  </div>

  <div
    *ngIf="workerMan?.ads?.skils?.length"
    class="flex bg-white mt-5 rounded-md md:rounded-lg w-full flex-wrap justify-start p-8 md:p-10"
  >
    <h1 class="w-full mb-3 text-xl font-medium text-gray-900 h-full">
      {{ "ads.skills" | translate }}
    </h1>
    <ul
      class="mb-8 text-left text-gray-500 dark:text-gray-400 flex flex-wrap w-full"
    >
      <li
        class="flex items-center space-y-3 w-[25%] md:w-[15%] m-2"
        *ngFor="let item of workerMan?.ads?.skils"
      >
        <!-- Icon -->
        <svg
          class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
        {{ item }}
      </li>
    </ul>
  </div>

  <div
    *ngIf="workerMan?.ads?.images?.length"
    class="flex bg-white mt-5 rounded-md md:rounded-lg md:min-h-[200px] w-full overflow-x-hidden p-5 md:p-10 flex-col justify-center"
  >
    <h1 class="w-full mb-3 text-xl font-medium text-gray-900 dark:text-white">
      {{ "ads.workPhoto" | translate }} {{ workerMan?.ads?.images?.length }}+
    </h1>
    <div class="flex justify-center items-center">
      <img
        class="h-full w-[30%] p-2 md:block hidden rounded-md md:rounded-lg"
        *ngFor="let img of workerMan?.ads?.images | spliceImage"
        [src]="apiUrl + '/' + img"
        (click)="modalImages.open()"
      />

      <img
        class="h-[200px] w-full p-2 block md:hidden rounded-md md:rounded-lg"
        [src]="apiUrl + '/' + workerMan?.ads?.images[0]"
        (click)="modalImages.open()"
      />
    </div>
  </div>

  <app-modal #modalImages>
    <app-swiper-example
      [isNavigation]="true"
      [images]="workerMan?.ads?.images"
    ></app-swiper-example>
  </app-modal>

  <div
    *ngIf="workerMan?.ads?.description"
    class="flex bg-white mt-5 rounded-md md:rounded-lg w-full flex-wrap justify-start p-6 md:p-10"
  >
    <h1 class="w-full mb-3 text-xl font-medium text-gray-900 h-full">
      {{ "ads.description" | translate }}
    </h1>
    <p class="mb-5 text-sm font-medium text-gray-500 dark:text-gray-300">
      {{ workerMan?.ads?.description }}
    </p>
  </div>
  <div class="fixed bottom-5 right-0 w-full flex justify-end">
    <a
      [href]="'tel:' + workerMan?.user?.username"
      class="text-white mr-7 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2"
    >
      {{ "ads.call" | translate }}
    </a>
    <a
      [href]="
        'https://wa.me/' + workerMan?.user?.username + '?text=Ассаламу Аллейкум'
      "
      class="text-white mr-7 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2"
    >
      WhatsApp
    </a>
  </div>
</div>
