<div [style]="{ backgroundColor: bg, borderRadius: rounded }">
  <input
    #input
    [disabled]="disabled"
    [type]="showPassword ? 'text' : type"
    [(ngModel)]="value"
    (blur)="blur.emit()"
    (focus)="focus.emit()"
    class="w-full h-full text-base font-bold peer open-sans outline-none px-3 border-[#EAEAEA] hover:border-gray-400 focus:border-gray-400 rounded-[4px] placeholder:open-sans"
    [placeholder]="placeholder"
    [ngStyle]="{ width: width, height: height }"
    [ngClass]="{
      'border-[#FF0000] placeholder-[#FF0000] ': hasError,
      border: !isBorder
    }"
  />
</div>
<div *ngIf="hasError" class="h-4 pt-0.5 ml-3">
  <app-input-errors
    *ngIf="hasError"
    [errors]="errorControll"
  ></app-input-errors>
</div>
