<div
  class="mt-16 md:mt-20 flex flex-col pb-5 h-full items-center"
  [formGroup]="form"
>
  <div
    class="flex flex-col w-[98%] md:w-[70%] lg:w-[60%] bg-white rounded-2xl py-8 px-4"
  >
    <div class="flex justify-between md:flex-row">
      <span>Title</span>
      <span>City</span>
    </div>

    <div class="w-full flex justify-between md:flex-row">
      <div class="mr-4">
        <app-input-text
          formControlName="title"
          height="48px"
          placeholder="title"
          type="text"
          bg="#EAEAEA"
          rounded="6px"
        ></app-input-text>
      </div>

      <select
        id="city"
        class="outline-none h-12 bg-[#EAEAEA] rounded-md p-3 text-gray-900 text-sm"
        formControlName="city"
      >
        <option ngValue="Душанбе">Душанбе</option>
        <option ngValue="Кулоб">Кулоб</option>
        <option ngValue="Лелнобод">Лелнобод</option>
      </select>
    </div>
    <span class="mt-4">Description</span>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="resize-none outline-none h-40 bg-[#EAEAEA] rounded-md p-3"
    ></textarea>

    <span class="mt-4">skils</span>
    <div class="h-full bg-[#EAEAEA] rounded-md p-3 flex">
      <div class="w-full h-full">
        <app-chips-autocomplete
          placeholder="New skil and enter!"
          (getChips)="getChips($event)"
          [chipsForm]="form"
        >
        </app-chips-autocomplete>
      </div>
    </div>
    <span class="mt-4">Work photo</span>
    <div class="h-32 bg-[#EAEAEA] rounded-md p-3 relative flex justify-between">
      <div class="flex items-center overflow-x-auto w-[80%] md:w-[85%]">
        <img
          class="w-20 h-20 ml-2 cursor-pointer"
          *ngFor="let item of form?.value?.images"
          [src]="apiUrl + '/' + item"
          (click)="modalImages.open()"
        />
      </div>
      <label
        class="w-12 md:w-20 h-full flex items-center absolute right-3 md:right-5 cursor-pointer z-10"
      >
        <img
          class="w-12 md:w-20 h-12 md:h-20"
          src="assets/icons/icon-add-image.png"
        />
        <input
          type="file"
          accept="image/*"
          class="hidden"
          (change)="uploadImage($event)"
        />
      </label>
    </div>
    <div class="flex items-end">
      <label
        for="red-toggle"
        class="inline-flex relative items-center mr-5 cursor-pointer"
      >
        <input
          type="checkbox"
          id="red-toggle"
          class="sr-only peer"
          checked
          formControlName="isPublish"
        />
        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"
        ></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
          >{{ !form.value.isPublish ? "Publish" : "Un publish" }} ?</span
        >
      </label>
      <div class="mt-4 w-[150px] md:w-[200px] ml-auto">
        <app-button
          rounded="30px"
          [isWidthFull]="true"
          height="40px"
          type="submit"
          (click)="save()"
          >Save</app-button
        >
      </div>
    </div>
  </div>
</div>

<app-modal #modalImages>
  <app-swiper-example
    [isNavigation]="true"
    [images]="form.value.images"
  ></app-swiper-example>
</app-modal>
